{
    azure = {
        tenant: "d5e917df-533c-4bc8-89a0-04a9fb6d3aee"
        # azure app registration name: ares-data-merge
        app: "bc3f2cd0-05b2-4831-b9f4-72adc921b197"
        object: "86eceeb8-d583-4847-adc0-e1c508c1bafc"
        client-secret: "tOG^NDF.0Y^2d#Do2y0dH8E"
        vaultid: MachineIntelligence
        data_factory = {
            include "data_factory.conf"
        }
    }
    source = {
       include "source.conf"
    }

    target = {
       include "target.conf"
    }
}
